{% extends 'base.html' %}

{% block content %}
    <div class="account_form_div">
        {% if target_user.profile %}
            <div>
                <h2>{{ target_user.profile.nickname }}</h2>
            </div>
        {% else %}
            <h3><a href="{% url 'profileapp:create' %}">Create Profile</a></h3>
        {% endif %}

        <div>
            <p>{{ target_user.date_joined }}</p>
        </div>
        {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                change info
            </a><br>
            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                quit
            </a>
        {% endif %}
    </div>
{% endblock %}