{% extends 'base.html' %}

{% block content %}
    <div class="account_form_div">
        <div>
            <h2>{{ target_user.username }}</h2>
        </div>
        <div>
            <p>{{ target_user.date_joined }}</p>
        </div>
        {% if target_user == user %}
            <a href="{% url 'accountapp:update' pk=user.pk %}">
                change info
            </a><br>
            <a href="{% url 'accountapp:delete' pk=user.pk %}">
                quit
            </a>
        {% endif %}
    </div>
{% endblock%}