{% extends 'base.html' %}

<!-- content block 내부의 내용을 작성 -->
{% block content %}

    <div style="height: 30rem; background-color: #548f00; border-radius: 1rem; margin: 2rem; padding: 1rem;">
        <h2>testing</h2>

        <form action="/account/hello_world/" method="POST">
            {% csrf_token %}
            <div>
                <input type="text" name="hello_world_input">
            </div>
            <div>
                <input type="submit" class="btn btn-warning" value="POST">
            </div>
            {% if hello_world_output %}
                {{ hello_world_output.text }}
            {% endif %}
        </form>
    </div>

{% endblock %}