{% extends 'base.html' %}

{% block content %}
<div class="list_div">
    <div class="account_form_div">
        <img src="{{ target_project.image.url }}" alt="{{ target_project.title }}" class="profile_img">
        <h2>{{ target_project.title }}</h2>
        <h5>{{ target_project.description }}</h5>
    </div>

    <div style="text-align: center;">
        {% if user.is_authenticated %}
            {% if not subscription %}
            <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}" class="btn btn-primary">
                subscribe
            </a>
            {% else %}
            <a href="{% url 'subscribeapp:subscribe' %}?project_pk={{ target_project.pk }}" class="btn btn-danger">
                unsubscribe
            </a>
            {% endif %}
        {% endif %}
    </div>

    <hr>
</div>

<div>
    {% include 'snippets/list_fragment.html' with article_List=object_list %}
</div>
{% endblock %}