/* base */
* {
    font-family: 'MaruBuri-Regular', 'Noto Serif KR', serif;
}

/* header & header */
.header_div, .footer_div {
    text-align: center;
    margin : 1.5rem 0;
}

.header_nav:hover{
    color: orange;
}

.header_nav{
    padding: 1rem;
}

.almighty_logo {
    font-family: 'Abril Fatface', cursive;
}

.home_link:link, .home_link:visited {
    color: black;
    text-decoration: none;
}

.footer_button {
    font-size: 0.9rem;
}

/* button */

/* form */
.account_form_div {
    text-align: center;
    max-width: 50%;
    margin: 4rem auto;
}

/* profile */
.profile_img {
    height: 10rem;
    width: 10rem;
    border-radius:15rem;
    object-fit: cover;
}

.comment_div {
    border: 1px solid;
    border-color: #C9CCD4;
    border-radius: 1rem;
    text-align: left;
    padding: 4%;
    margin: 1rem;
}

.comment_content {
    margin: 1rem 0;
}

.list_div {
    text-align: center;
    width: 80%;
    padding: 2rem;
    margin: 0 auto;
}


@media screen and (max-width:500px) {   /* 스크린 사이즈 500 이하일 때 적용 */
     html {
        font-size: 12px;
     }
}