{% extends 'base.html' %}

{% block content %}
    <div class="account_form_div">
        <h3 style="padding-bottom: 2rem;">{{ target_article.title }}</h3>
        <div style="height: 2rem;">
            <a href="{% url 'likeapp:article_like' pk=target_article.pk %}">
                <i style="vertical-align: middle; font-size: 1.2rem; color: #f77" class="material-icons">
                    favorite
                </i>
                <span style="vertical-align: middle; font-size: 1.2rem;">
                {{ target_article.like }}
            </span>
            </a>
        </div>

        <h5><div style="display: flex; justify-content: space-between;">
            {% if target_article.writer.profile.nickname %}
                <span>writer : {{ target_article.writer.profile.nickname }}</span>
                {% if target_article.writer == user %}
                    <span style="">
                        <a href="{% url 'articleapp:update' pk=target_article.pk %}">
                            Update
                        </a>&nbsp&nbsp
                        <a href="{% url 'articleapp:delete' pk=target_article.pk %}">
                            Delete
                        </a>
                    </span>
                {% endif %}
            {% else %}
                <span>writer : unknown</span>
            {% endif %}
        </div></h5>

        <hr>
        <img src="{{ target_article.img.url }}" alt="{{ target_article.title }}" style="width: 100%; border-radius: 1rem; margin: 2rem 0;">
        <h5 style="text-align: left;">
            {{ target_article.content | safe }}
        </h5>
        <hr>


        {% for comment in target_article.comment.all %}
            <div class="comment_div">
                {% include 'commentapp/detail.html' with comment=comment %}
            </div>
        {% endfor %}

        {% include 'commentapp/create.html' with article=target_article %}
    </div>
{% endblock %}